<!-- https://preview-hatgang-com.3dcartstores.com/ -->
<link rel="stylesheet" href="/home.css" />
<div class="ml-4 mr-4 body">
  <div>
    <a href="/store">
      <img
        style="width: 100%"
        src="https://images.pexels.com/photos/3880485/pexels-photo-3880485.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
      />
    </a>
  </div>
  <div class="row">
    <div class="column">
      <img
        src="https://images.unsplash.com/photo-1533563672978-98d2cb263ee0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
        style="width: 100%"
      />
      <img
        src="https://images.unsplash.com/photo-1513001900722-370f803f498d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
        style="width: 100%"
      />
      <img
        src="https://images.unsplash.com/photo-1518210777420-a2f84c71fffc?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
        style="width: 100%"
      />
    </div>
    <div class="column">
      <img
        src="https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
        style="width: 100%"
      />
      <img
        src="https://images.unsplash.com/photo-1514894780887-121968d00567?ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80"
        style="width: 100%"
      />
      <img
        src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
        style="width: 100%"
      />
    </div>
  </div>
  <div class="last">
    <a href="/store" class="btn btn-block">Shop Now</a>
  </div>
</div>
