<!-- https://preview-hatgang-com.3dcartstores.com/ -->
<div class="container body">
  <img
    style="width: 100%; height: 90vh; cursor: pointer; margin-bottom: 20px"
    src="https://images.unsplash.com/photo-1533563672978-98d2cb263ee0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
    alt="image"
  />
  <img
    style="width: 49.76%; margin-bottom: 20px"
    src="https://images.unsplash.com/photo-1514894780887-121968d00567?ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80"
    alt=""
  />
  <img
    style="width: 49.76%; margin-bottom: 20px"
    src="https://images.unsplash.com/photo-1518210777420-a2f84c71fffc?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
    alt=""
  />
</div>
<div class="container last">
  <a href="/store" class="btn btn-block">Shop Now</a>
</div>
<script>
  document.getElementById("user").innerHTML = "Hello, <%=name%>";
</script>
