<!-- https://preview-hatgang-com.3dcartstores.com/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/lux/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
      integrity="sha512-rRQtF4V2wtAvXsou4iUAs2kXHi3Lj9NE7xJR77DE7GHsxgY9RTWy93dzMXgDIG8ToiRTD45VsDNdTiUagOFeZA=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/home.css" />
    <title>Book Store</title>
  </head>
  <body>
    <div class="container main">
      <div class="flex-around">
        <a href="#">ABOUT</a>
        <a href="#">CONTACT</a>
        <a href="#">BLOG</a>
      </div>
      <div class="flex-around">
        <h1 class="lead">BOOK STORE</h1>
      </div>
      <div class="flex-around mr-4">
        <i class="material-icons md-dark">face</i>
        <a id="user" href="#"></a>
        <i class="material-icons md-dark ml-4">shopping_cart</i>
        <a href="#">CART</a>
      </div>
    </div>
    <hr />
    <div class="container">
      <div class="flexA">
        <a href="/" class="btn btn-secondary" style="width: 100%">Home</a>
        <a href="/store" class="btn btn-secondary" style="width: 100%">Store</a>
        <a href="#" class="btn btn-secondary" style="width: 100%">Offers</a>
      </div>
    </div>
    <hr />
    <%-body%>
    <div class="footer">
      <p class="lead">&copy; All rights reserved.</p>
    </div>
  </body>
</html>
