<!-- https://preview-hatgang-com.3dcartstores.com/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/lux/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
      integrity="sha512-rRQtF4V2wtAvXsou4iUAs2kXHi3Lj9NE7xJR77DE7GHsxgY9RTWy93dzMXgDIG8ToiRTD45VsDNdTiUagOFeZA=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/layout.css" />
    <title>Book Store</title>
  </head>
  <body>
    <a class="account-circle" style="text-decoration: none" href="#">
      <% if(name==="guest") {%>
      <i class="material-icons md-dark my-float">account_circle</i>
      <% }else{ %>
      <p class="mt-2"><%=name[0]%></p>
      <%}%>
    </a>
    <div class="ml-4 mr-4 main">
      <div class="flex-around nav">
        <a href="#">ABOUT</a>
        <a href="#">CONTACT</a>
        <a href="#">BLOG</a>
      </div>
      <div class="flex-around title">
        <h1 class="lead">BOOK STORE</h1>
      </div>
      <div class="flex-around mr-4 account">
        <i class="material-icons md-dark">face</i>
        <a id="user" href="#"></a>
        <% if(name==="guest") {%>
        <i class="material-icons md-dark ml-4">person</i>
        <a href="/users/login">LOGIN</a>
        <% }else{ %>
        <i class="material-icons md-dark ml-4">logout</i>
        <a href="/users/logout">LOGOUT</a>
        <% } %>
      </div>
    </div>
    <hr />
    <div class="ml-4 mr-4">
      <div class="flexA">
        <a
          href="/"
          class="btn btn-secondary"
          style="width: 100%; font-weight: 900"
          >Home</a
        >
        <a
          href="/store"
          class="btn btn-secondary"
          style="width: 100%; font-weight: 900"
          >Store</a
        >
        <a
          href="/offers"
          class="btn btn-secondary"
          style="width: 100%; font-weight: 900"
          >Offers</a
        >
      </div>
    </div>
    <hr />
    <%-body%>
    <div class="footer">
      <p class="lead">&copy; All rights reserved.</p>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script>
      document.getElementById("user").innerHTML = "Hello, <%=name%>";
    </script>
  </body>
</html>
