.header {
  display: flex;
  justify-content: space-between;
}
.header a {
  width: 100px;
  height: 40px;
}
.header img {
  width: 80px;
}
.grey {
  background-color: #3f3f3f;
  height: 100vh;
  padding: 20px;
  background-image: url("https://images.unsplash.com/photo-1547602329-deb8236ef8fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position: top;
  background-blend-mode: overlay;
}
#m1 {
  margin-top: 30vh;
}
.container {
  padding-top: 40px;
  text-align: center;
}
.links {
  margin-top: 20px;
}
.links a {
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  width: 30%;
  background-color: rgb(211, 101, 23);
}
.links a:hover {
  background-color: rgba(211, 101, 23, 0.774);
}
.products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.product {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.cap {
  text-transform: capitalize;
}
.ml12 {
  font-weight: 200;
  font-size: 0.9em;
  text-transform: capitalize;
  letter-spacing: 0.3em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

@media screen and (max-width: 1053px) {
  .products {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}
@media screen and (max-width: 769px) {
  .products {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .links a {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(211, 101, 23);
  }
}
@media screen and (max-width: 550px) {
  .products {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
  .grey {
    background-blend-mode: normal;
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1542086820-c7deffc43109?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
    background-size: cover;
    background-position: center;
  }
  .links a {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(34, 48, 119);
  }
  .links a:hover {
    background-color: rgba(34, 48, 119, 0.637);
  }
}
