.header {
  padding: 10px;
  background-color: #3f3f3f;
  display: flex;
  justify-content: space-between;
}
.header a {
  width: 100px;
  height: 40px;
  align-self: center;
}
.search .form-group ::placeholder {
  color: white;
  opacity: 0.5;
}
.search .form-group input {
  background-color: grey;
  color: whitesmoke;
}

.search .form-group input:focus {
  background-color: grey;
  color: whitesmoke;
}

.update .form-group ::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}
.update .form-group input {
  background-color: transparent;
  border-bottom-color: whitesmoke;
  color: white;
}
.update .form-group textarea {
  background-color: rgba(128, 128, 128, 0.356);
  color: white;
}

.update .form-group input:focus {
  background-color: transparent;
  color: whitesmoke;
  outline: none;
  outline-color: transparent;
}

.update .form-group textarea:focus {
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
  border: transparent;
  outline: none;
}

.update .form-group label {
  color: rgb(199, 199, 199);
}
.cke_contents {
  border: solid 1px #696969;
  background-color: #696969;
}
