<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/darkly/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/addProduct.css" />
    <title>Book Store (ADMIN)</title>
  </head>
  <body>
    <div class="header">
      <h2>Add Product</h2>
      <a class="btn btn-warning" href="/products/dev/dashboard">Dashboard</a>
    </div>
    <% if (add) {%>
    <div
      id="success"
      onload="fade_out"
      class="card card-body"
      style="display: flex; justify-content: space-between"
    >
      <div>
        <h4 style="color: rgb(80, 231, 80)">
          Product Added Successfully!
          <button
            class="btn btn-danger"
            style="width: 35px; height: 35px; float: right"
            onclick="setTimeout(function () {document.getElementById('success').style.display='none'}, 50); return false"
          >
            X
          </button>
        </h4>
      </div>
    </div>
    <%}%>
    <div class="col-md-11 m-auto">
      <div class="card-body">
        <form action="/products/add" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter name of the book"
              required
            />
          </div>
          <div class="form-group">
            <label for="availability">Availability</label>
            <input
              type="number"
              id="availability"
              name="availability"
              class="form-control"
              placeholder="Enter a number"
              required
            />
          </div>
          <div class="form-group">
            <label for="cost">Cost</label>
            <input
              type="number"
              id="cost"
              name="cost"
              class="form-control"
              placeholder="Enter cost in Rupees"
              required
            />
          </div>
          <div class="form-group">
            <label for="image">Image URL:</label>
            <input
              type="text"
              id="image"
              name="image"
              class="form-control"
              placeholder="Enter URL"
              required
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              name="description"
              rows="5"
              placeholder="Enter description"
              required
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Add Product
          </button>
        </form>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.15.0/ckeditor.js"
      integrity="sha512-bNMnTgKRxN1n+5rgfcf160HT2koHRcwLcSq/3JDOY9R65mja48E4Hh+a+IQXVaY2NoJCVC+pr0qE3Vz194QwnA=="
      crossorigin="anonymous"
    ></script>
    <script>
      CKEDITOR.replace("description", {
        plugins: "wysiwygarea, toolbar, basicstyles",
      });
      CKEDITOR.on("instanceReady", function (e) {
        // First time
        e.editor.document
          .getBody()
          .setStyle("background-color", "rgba(45,45,45)");
        e.editor.document.getBody().setStyle("color", "white");
        // in case the user switches to source and back
        e.editor.on("contentDom", function () {
          e.editor.document
            .getBody()
            .setStyle("background-color", "rgba(54,54,54)");
          e.editor.document.getBody().setStyle("color", "white");
          e.editor.document.getBody().setStyle("border", "none");
        });
      });
    </script>
  </body>
</html>
