<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/darkly/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/deleteProduct.css" />
    <title>Book Store</title>
  </head>
  <body>
    <div class="header">
      <h2>Delete Product</h2>
      <a class="btn btn-warning" href="/products/dev/dashboard">Dashboard</a>
    </div>
    <% if (del && no) {%>
    <div
      id="success"
      onload="fade_out"
      class="card card-body"
      style="display: flex; justify-content: space-between"
    >
      <div>
        <h4 style="color: rgb(80, 231, 80)">
          Product Deleted Successfully!
          <button
            class="btn btn-danger"
            style="width: 35px; height: 35px; float: right"
            onclick="setTimeout(function () {document.getElementById('success').style.display='none'}, 50); return false"
          >
            X
          </button>
        </h4>
      </div>
    </div>
    <%} else if (del){%>
    <div
      id="success"
      onload="fade_out"
      class="card card-body"
      style="display: flex; justify-content: space-between"
    >
      <div>
        <h4 style="color: rgb(241, 116, 116)">
          No product found!
          <button
            class="btn btn-danger"
            style="width: 35px; height: 35px; float: right"
            onclick="setTimeout(function () {document.getElementById('success').style.display='none'}, 50); return false"
          >
            X
          </button>
        </h4>
      </div>
    </div>
    <%}%>
    <div class="mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <form action="/products/delete" method="POST">
            <div class="form-group">
              <label for="name">Product Name to Delete</label>
              <input
                type="text"
                id="name"
                name="name"
                class="form-control"
                placeholder="Enter name of the book"
              />
            </div>
            <br />
            <button type="submit" class="btn btn-primary btn-block">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
