.olive {
  color: rgb(142, 170, 94);
}

.flex-jcb {
  display: flex;
  justify-content: space-between;
}

.lOUT {
  display: none;
}

.child-r {
  margin-right: 10px;
}
.child-l {
  margin-left: 10px;
}

.bg-lightgrey {
  background-color: rgb(247, 247, 247);
  border: none;
}

.edit {
  cursor: pointer;
}
.edit:hover {
  opacity: 0.5;
}

.update-btn {
  background-color: rgb(142, 170, 94);
}
.update-btn:hover {
  background-color: rgb(191, 218, 146);
}

.info p span i {
  display: inline-flex;
  padding: 5px;
  font-size: 19px;
}

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item .pad15 a {
  text-decoration: none;
}
.MultiCarousel .MultiCarousel-inner .item .pad15 a img {
  transition: transform 0.5s ease;
}
.MultiCarousel .MultiCarousel-inner .item .pad15 a img:hover {
  transform: scale(1.03);
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  color: #666;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}

@media screen and (max-width: 995px) {
  .flex-jcb {
    display: block;
  }
  .child-r {
    margin-right: 0px;
  }
  .child-l {
    margin-top: 10px;
    margin-left: 0px;
  }
  .lOUT {
    display: block;
    font-size: 17px;
    line-height: 20px;
  }
  .lOUT a i {
    font-size: 17px;
    display: inline-flex;
    vertical-align: top;
  }
}
